<!doctype html>
<html class="js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }} - Coming Soon</title>
    <meta name="description" content="{{ page_description | escape }}">

    {{ content_for_header }}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'app.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="twcss-min-h-screen twcss-flex twcss-items-center twcss-justify-center">
    <main id="MainContent" class="twcss-w-full">
      {{ content_for_layout }}
    </main>
  </body>
</html>