<div
  class='overflow-hidden min-h-screen h-screen flex flex-col items-center justify-center p-4'
  {% if section.settings.background_image != blank %}
    style='background-image: url({{ section.settings.background_image | img_url: 'master' }}); background-size: cover; background-position: center;'
  {% endif %}
>
  <div class='relative z-10 flex flex-col items-center justify-center w-full max-w-md mx-auto px-8 py-12'>
    <div
      style='background: radial-gradient(50% 50% at 50% 50%, #FFF 43.94%, rgba(255, 255, 255, 0.00) 100%); }'
      class='bg-white absolute w-[200%] h-[150%]'
    >
      &nbsp;
    </div>
    <div class='relative z-20 w-full text-center'>
      {% if section.settings.logo != blank %}
        <div class='mb-4'>
          {{ section.settings.logo | img_url: 'master' | img_tag: shop.name, 'w-full h-auto' }}
        </div>
      {% else %}
        <h1 class='font-serif text-3xl font-bold text-center mb-8'>{{ shop.name }}</h1>
      {% endif %}

      <h2 class='font-serif text-base uppercase text-center mb-2'>
        {{ section.settings.heading | default: 'Coming Soon' }}
      </h2>

      <div class='font-sans text-base uppercase text-center mb-2'>
        {{ section.settings.description }}
      </div>

      {% if section.settings.show_newsletter %}
        {% form 'customer', id: 'ContactPassword', class: '' %}
          {%- if form.errors -%}
            <div class='font-sans text-red-500 text-center mb-4'>
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          {%- if form.posted_successfully? -%}
            <div class='font-sans text-green-500 text-center mb-4'>
              {{ 'newsletter.success' | t }}
            </div>
          {%- endif -%}

          <div class='space-y-4'>
            <input type='hidden' name='contact[tags]' value='newsletter'>
            <input
              id='NewsletterForm--password'
              type='email'
              name='contact[email]'
              class='m-0 font-sans w-full px-6 py-3 border border-black bg-white rounded-full black-placeholder'
              value='{{ form.email }}'
              aria-required='true'
              autocorrect='off'
              autocapitalize='off'
              autocomplete='email'
              placeholder='{{ section.settings.email_placeholder | default: 'Your email' }}'
              required
            >
            <button
              type='submit'
              class='font-serif uppercase px-6 py-3 bg-black text-white rounded-full'
              name='commit'
            >
              {{ section.settings.button_text | default: 'Subscribe' }}
            </button>
          </div>
        {% endform %}
      {% endif %}
    </div>
  </div>
</div>

<style>
  .black-placeholder::placeholder {
    color: #000000;
    opacity: 1;
  }
  ::selection {
    background-color: #39ff14;
    color: #000000;
  }

  ::-moz-selection {
    background-color: #39ff14;
    color: #000000;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #000000;
    -webkit-box-shadow: 0 0 0px 1000px #39ff14 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
</style>

{% schema %}
{
  "name": "Password Splash",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Our new site is under construction. Sign up to be notified when we launch.</p>"
    },
    {
      "type": "header",
      "content": "Newsletter Signup"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show email signup",
      "default": true
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email Placeholder",
      "default": "Your email"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Notify Me"
    }
  ],
  "presets": [
    {
      "name": "Password Content",
      "category": "Custom"
    }
  ]
}
{% endschema %}
